@import '~bulma';

#Projects {
	.title {
		color: white;
		margin: 3em 0 1em;
		letter-spacing: .2rem;
	}

	.project {
		@include touch {
			.text {
				padding-top: 0 !important;
			}

		}

		&:not(:first) {
			margin-top: 5em !important;
		}


		&:nth-child(even) {
			flex-direction: row;
		}

		&:nth-child(odd) {
			flex-direction: row-reverse;
		}

		.image-wrapper {
			padding: 3em;


			img {
				border-radius: .7em;
			}
		}

		.text {
			padding: 6em;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.date {
				color: #ffffffbb;
				font-size: 1em;
				font-weight: 800;
			}

			.name {
				color: #fff;
				font-size: 2em;
				font-weight: 600;
			}

			.description {
				color: #fff;
				padding-left: 1rem;
				font-size: 1.2em;
				font-weight: 600;

				a {
					color: white;

					transition: opacity 200ms;

					opacity: .5;

					&:hover {
						opacity: 1;

					}
				}
			}

			.tech {
				margin-top: .5em;

				color: #ffffff99;
				padding-left: 1rem;
				font-size: 1em;
				font-weight: 900;

				text-transform: uppercase;
			}

			.link {
				margin-top: .5em;
				margin-left: 1rem !important;
				font-weight: 600;
				// border: 3px solid white !important;
				box-shadow: 0 0 40px 0 #00000047;
			}
		}

		// <div class="image-wrapper">
		//   <img data-src="images/broodhuys.png" alt="broodhuys page" />
		// </div>
		// <div class="text">
		//   <p class="name">'t Broodhuys</p>
		//   <a href="https://www.bakkerijbroodhuys.nl/" class="link"
		//     >Have a look: https://www.bakkerijbroodhuys.nl/</a
		//   >
		//   <p class="date">9 / 2020</p>
		//   <p class="description">
		//     I made this while working for Konnect Kit, was a fun project
		//   </p>
		// </div>
	}
}