* {
  cursor: none !important;
}

body {
  #Cursor {
    position: fixed;

    height: 1em;
    width: 1em;

    top: 0; // !important for gsap
    left: 0; // !important for gsap

    transition: height 200ms, width 200ms;

    background: white;

    border-radius: 100%;

    pointer-events: none;
  }

  #Follower {
    position: fixed;

    height: 3em;
    width: 3em;

    top: 0; // !important for gsap
    left: 0; // !important for gsap

    transition: height 50ms, width 50ms;

    border-radius: 100%;

    pointer-events: none;

    span {
      &:first-child {
        position: absolute;

        height: 100%;
        width: 100%;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        border-radius: inherit;

        // background-color: #00000022;

        // backdrop-filter: invert(1);
        border: 2px white solid;
      }
    }
  }
}